.text-input input:focus ,.input-search-address:focus,  .buttom-search-table input:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
}

.travel-map{
    width: 100%;
    height: 400px;
}

.google-map{
    width: 100%;
    height: 400px;
}
.buttom-search-table input{
    border:none;
}

.container-margin-top{
    top: 0px;
    position: absolute;
    z-index: 999;
}
.input-search-address{
    width: 100%;
    border: 1px solid #cecece!important;
    padding: 5px 15px!important;
}
.column-input-search{
    position:relative;
}
.column-input-search .btn-refresh{
    position:absolute;
    top: 0px;
    right: -5px;
    background: #007cba;
    padding: 10px;
}
.search-buttom{
    padding: 10px;
    background: #007cba;
    color: #fff!important;
    border-radius: 4px;
    margin-left: 10px !important;
    display: block;
}

.search-buttom:hover{
    background: #006395;
}

.input-button-address{
    background: #007cba;
    padding: 10px 10px;
    border-radius: 4px;
    cursor: pointer !important;
    color: #fff !important;
    margin-left: 10px !important;
    display: block;
}
.input-button-address:hover{
    background: #006395;
}

.column-input-search .figure-refresh{
    background-image: url(../images/icon_refresh.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    display: block;
    height: 18px;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 790px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.loader-map{
    background: #d2d2d27d;
    color: #fff;
    position: absolute;
    width: 98%;
    height: 99%;
    z-index: 999;
    top: 0px;
    text-align: center;
    align-items: center;
    display: flex;
}
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid #636363;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}


